/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --f-bg-white: #FAFAF9;
  --f-green: #204040;
  --f-green-minor: #335b5b;
  --f-black: #1c2323;
  --f-black-minor: #4b5858;
  --f-red: #f20c00;
  --f-red-light: #e60b00;
  --f-blue: #0000db;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
}


/*LAYOUT*/
.main {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.content {
  width: 783px;
  max-width: calc(100vw - 2.5rem);
  margin: 0, auto;
}
.header {
  container-type: size;
  container-name: header;
}

@container header (width < 783px) {
  .unnecessary {
    display: none;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}

/* COLOUR AND FONT */
html {
  background-color: var(--f-bg-white);
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,monospace,"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  /* font-size: 12px / 1.5; */
}

.f-major {
  color: var(--f-black);
  &.f-green {
    color: var(--f-green-minor);
  }
}
.f-minor {
  color: var(--f-black-minor);
  &.f-green {
    color: var(--f-green);
  }
}
.f-small {
  font-size: small;
}
a.red {
  color: var(--f-red);
  &:hover {
    color: var(--f-red-light);
  }
}

a.black {
  color: var(--f-black);
  &:hover {
    color: var(--f-black-minor);
  }
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* markdown*/

.content {
  overflow: hidden;
  text-wrap: wrap;
  color: var(--f-black);
  line-height: 1.5;
  h1, h2, h3, h4, h5 {
   line-height: 1.1111; 
   max-width: 100%;
  }
  p {
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
  }
  hr {
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
  }
  .title-wrapper {
    margin-block-start: 2rem;
    margin-block-end: 5rem;
    .date {
      font-size: smaller;
      text-align: center;
    }
  }
  .title {
    text-align: center;
    letter-spacing: 0.25rem;
    font-size: 3.775rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 2rem;
    margin-block-end: .2rem;
  }
  h3 {
    font-size: 1.17rem;
  }
  h4, h5 {
    font-size: 1.1rem;
    color: var(--f-black-minor);
  }
  a {
    /* color: var(--); */
    color: var(--f-red);
  }
 blockquote {
  color: var(--f-green);
  /* margin-block-start: 1.5rem; */
  margin-block-end: 1.5rem;
 } 
 pre.astro-code {
  padding: 1rem .5rem;
  border-radius: 12px;
  code {
    text-wrap: wrap;
    overflow-y: scroll;
    /* font-weight: bold; */
    background-color: unset;
    color: unset;
  }
 }
 code {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,monospace;
  background-color: #eee;
  color: var(--f-black-minor);
  padding:0 3px;
  border-radius: 3px;
 }
}