---
const today = new Date();
---

<footer class="totoro">
	<p>&copy; {today.getFullYear()} Red-Panda. All rights reserved.</p>
  <p>本博客所有文章除特别声明外，均采用 CC BY-NC-SA 4.0 许可协议，转载请注明出处</p>
</footer>
<style>
	footer {
    padding: 2rem 1.2rem;
		text-align: center;
    font-size: 0.9rem;
	}
</style>
