---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">更多文章</HeaderLink>
		</div>
	</nav>
</header>
<style>
  .internal-links {
    width: 783px;
    max-width: calc(100vw - 2rem);
    margin: 12px auto;
  }
</style>
