---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink class="black" href="/">Posts</HeaderLink>
		</div>
	</nav>
</header>
<style>
  .internal-links {
    width: calc(783px * 1.3);
    max-width: calc(100vw - 2rem);
    margin: 12px auto;
    font-size: large;
  }
</style>
