---

---

<section class="blog-signature">
  <div class="board">
    <p class="f-major f-green">
      零落成泥碾作尘<span class="punctuation">，</span>只有香如故<span
        class="punctuation">。</span>
    </p>
  </div>
  <div class="bottom-signature secondary-font">
    <div>
      <p>分析感想和技术</p>
      <p>生活</p>
    </div>
    <div>
      <p><a href="/about">红熊猫</a></p>
    </div>
  </div>
</section>

<style>
  a {
    color: var(--f-red);
    &:hover {
      color: var(--f-red-light);
    }
  }
   .blog-signature {
    border-bottom: 1px solid rgb(229, 231, 235);
        padding: 0rem 0.8rem;
        .bottom-signature {
          font-size: 0.8rem;
          letter-spacing: 0.6rem;
          padding-top: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          div {
            padding: 0.5rem;
          }
          p {
            margin-block-start: 0.5rem;
            margin-block-end: 0.5rem;
          }
        }
      }
      .board {
        --border-color: var(--f-green);
        padding: 0.5rem 1.5rem;
        background:
          linear-gradient(var(--border-color), var(--border-color)) left top,
          linear-gradient(var(--border-color), var(--border-color)) left top,
          linear-gradient(var(--border-color), var(--border-color)) right top,
          linear-gradient(var(--border-color), var(--border-color)) right top,
          linear-gradient(var(--border-color), var(--border-color)) left bottom,
          linear-gradient(var(--border-color), var(--border-color)) left bottom,
          linear-gradient(var(--border-color), var(--border-color)) right bottom,
          linear-gradient(var(--border-color), var(--border-color)) right bottom;
        background-repeat: no-repeat;
        background-size:
          2px 32px,
          32px 5px;
        font-weight: normal;
        p {
          font-size: 1.2rem;
          font-weight: bold;
          span.punctuation{
            font-size: 2.25rem;
            color: var(--f-red);
          }
        }
      }
</style>
